@import '../../styles/variables.scss';
@import '../../styles/mixins';

.login {
  position: relative;
  display: flex;
  min-height: 1024px;
  color: $dark-color;
  @media (max-height: 700px) {
    min-height: 0;
    height: 100%;
  }

  &__picture {
    position: absolute;
    top: 80px;
    width: min(100%, 890px);
    height: 943px;
    background-image: url('/src/assets/login-bg.jpg');
    @media (max-height: 700px) {
      display: none;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(100%, 550px);
    height: 100%;
    background-color: $bg-color;
    @media (max-height: 700px) {
      top: 80px;
      height: 100svh;
    }
    z-index: 5;

    @include media('s') {
      padding: 0 10px;
    }
  }

  &__container {
    width: min(100%, 350px);
    height: min(100%, 354px);
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__forgot {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin: 10px 0 30px;
  }

  &__register {
    width: 100%;
    margin-top: 10px;
    font-family: $main-font;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }
}
