@import '../../styles/variables.scss';
.home {
  display: flex;
  flex-direction: column;

  &__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 1024px;
    background-image: url('../../assets/main-bg-overlay.png');
  }

  &__wrapper {
    background-image: url('../../assets/main-bg.jpg');
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1085px;
    color: $light-color;
  }

  &__text {
    max-width: 822px;
    margin: 10px 0 30px;
    font-family: $main-font;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.4px;
    text-align: center;
  }

  &__button-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
