@import '../../styles/variables.scss';
.deal {
  background-color: $bg-color;

  &__title {
    margin: 58px 80px 0;
    font-family: $header-font;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    color: $accent-color;
    text-align: left;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 28px 80px 12px;

    @include media('l') {
      margin: 28px 45px 12px;
    }

    @include media('m') {
      margin: 28px 15px 12px;
    }
  }

  &__card {
    color: $light-color;
    width: calc(50% - 10px);
    aspect-ratio: 63 / 40;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px #00000026;
    border-radius: 5px;
    overflow: hidden;

    @include media('l') {
      width: 100%;
    }
  }

  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__image-container {
    position: absolute;
    border-radius: 5px;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    @include media('l') {
      width: 100cqw;
    }
  }

  &__content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 18px 14px;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    gap: 5px calc(50% - 230px);
    margin-top: 2px;
    @include media('s') {
      gap: 5px;
    }
  }

  &__info-part {
    width: 160px;
    &:nth-child(3n) {
      width: 140px;
      @include media('l') {
        width: 140px;
      }
    }
  }
}
