@import '../../styles/variables.scss';

.header {
  height: 80px;
  background-color: $dark-color;

  &__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 0 80px;
  }
}
