.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 160px;
  font-family: $header-font;
  font-weight: 700;
  background-color: transparent;
  color: $accent-color;
  border-radius: 5px;
  border: 1px solid $accent-color;
  cursor: pointer;
  transition: background-color 0.25s;
}
.button:hover {
  background-color: $accent-color;
  color: $light-color;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
