@import './mixins';
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 160px;
  font-family: $header-font;
  font-weight: 700;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
  transition: background-color 0.25s;

  &_header {
    height: 44px;
    color: $accent-color;
    border-color: $accent-color;

    @include media('s') {
      min-width: 80px;
    }
  }

  &_home {
    height: 54px;
    font-size: 20px;
    color: $light-color;
  }

  &_notfound {
    height: 50px;
  }

  &_login {
    width: 100%;
    height: 44px;

    font-size: 16px;
    font-weight: 700;

    color: $light-color;
    background-color: $accent-color;
    border-color: $accent-color;
  }

  @include hover {
    background-color: $accent-color;
    color: $light-color;
    border: 0;
  }
}

.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
