@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import './reset';
@import './variables';
@import './mixins';
@import './button';
@import './input';
@import '../components/Header/Header';
@import '../components/Deals/Deals';
@import '../pages/Home/Home';
@import '../pages/Login/Login';
@import '../pages/NotFound/NotFound';

body {
  background-color: $bg-darker-color;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
}

.h1 {
  font-family: $header-font;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  text-align: center;

  @include media('l') {
    font-size: 40px;
    line-height: 50px;
  }
}

.h2 {
  font-family: $header-font;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
}

.h3 {
  font-family: $header-font;
  font-size: 20px;
  font-weight: 700;
  line-height: 34px;

  @include media('s') {
    font-size: 16px;
    font-size: 24px;
  }
}

.text {
  font-family: $main-font;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;

  @include media('s') {
    font-size: 14px;
    line-height: 16px;
  }
}

.link {
  font-family: $main-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: $accent-color;

  @include hover {
    filter: brightness(0.8);
  }
}

.logo {
  position: absolute;
  top: 18px;
  left: 20px;
  z-index: 1000;
}
